<!DOCTYPE html>
<html lang="en">
<head>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BroMirror</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.css"/>
    <link rel="stylesheet" href="../css/gridstack-extra.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.jQueryUI.js"></script>
    <script type="text/javascript" src ="http://localhost:8888/scripts/grid.js"></script>



    <link rel="stylesheet" href="../css/grid.css"/>

</head>
<body>
    <div class="container-fluid">
        <h1>BroMirror</h1>

        <div>
            <a class="btn btn-default" id="add-new-widget" href="#">Add Widget</a>
        </div>

        <br/>

        <div class="grid-stack">
        </div>
    </div>
    <!--<script type="text/javascript">
        var app = angular.module('GridStack', ['gridstack-angular']).
          controller('DemoCtrl', function($scope, $log) {

            $scope.widgets = [{ x:0, y:0, width:1, height:1 }, { x:0, y:0, width:3, height:1 }];

            $scope.options = {
                cellHeight: 200,
                verticalMargin: 10
            };

            $scope.addWidget = function() {
                var newWidget = { x:0, y:0, width:1, height:1 };
                $scope.widgets.push(newWidget);
            };

            $scope.removeWidget = function(w) {
                var index = $scope.widgets.indexOf(w);
                $scope.widgets.splice(index, 1);
            };

            $scope.onChange = function(event, items) {
                $log.log("onChange event: "+event+" items:"+items);
            };

            $scope.onDragStart = function(event, ui) {
                $log.log("onDragStart event: "+event+" ui:"+ui);
            };

            $scope.onDragStop = function(event, ui) {
                $log.log("onDragStop event: "+event+" ui:"+ui);
            };

            $scope.onResizeStart = function(event, ui) {
                $log.log("onResizeStart event: "+event+" ui:"+ui);
            };

            $scope.onResizeStop = function(event, ui) {
                $log.log("onResizeStop event: "+event+" ui:"+ui);
            };

            $scope.onItemAdded = function(item) {
                $log.log("onItemAdded item: "+item);
            };

            $scope.onItemRemoved = function(item) {
                $log.log("onItemRemoved item: "+item);
            };

        });
    </script>-->
</body>
</html>
